@using MiApp.UTN.Modelos

@model Empleado

@{
    ViewData["Title"] = "Nuevo Empleado";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Nuevo Empleado</h2>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="mb-3">
        <label asp-for="Persona" class="form-label"></label>
        <select asp-for="PersonaId" asp-items="@ViewBag.selectListPersonas">
            <option selected="selected" value="">-- Elija una persona --</option>
        </select>
        <span asp-validation-for="Persona" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Cargo" class="form-label"></label>
        <select asp-for="CargoId" asp-items="@ViewBag.selectListCargos">
            <option selected="selected" value="">-- Elija un cargo --</option>
        </select>
        <span asp-validation-for="Cargo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="FechaIngreso" class="form-label"></label>
        <input asp-for="FechaIngreso" class="form-control" />
        <span asp-validation-for="FechaIngreso" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Salario" class="form-label"></label>
        <textarea asp-for="Salario" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Salario" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Comisiono" class="form-label"></label>
        <textarea asp-for="Comisiono" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Comisiono" class="text-danger"></span>
    </div>
    <span>@ViewData["Error"]</span>
    <br />

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
